/*------CALENDRIER------*/
.calendar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.calendar_container {
    background-color: white;
    width: 40%;
    border-radius: 0px 15px 15px 0px;
    border: solid 1px var(--primary-color);
    padding-bottom: 20px;
    margin-bottom: 100px;
}

.date_display,
.slots_display {
    display: flex;
    justify-content: space-around;
}

.calendar_main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

.date_display h3 {
    font-size: 1.2em;
    letter-spacing: 0;
    font-weight: bold;
    line-height: 1.1em;
    position: relative;
    margin-top: 2px;
}

.slots_display ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    line-height: 2em;
    z-index: 5;
}

.slots_display li {
    color: var(--primary-color);
}

.date_display img {
    width: 10px;
    padding-top: 25px;
}

.date_display a {
    width: 30px;
}

.date_display {
    align-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    height: 65px;
    border-bottom: solid 1px var(--primary-color);
}

#display_1,
#display_2,
#display_3 {
    align-self: center;
    text-align: center;
}

.slots_display li.reserved {
    color: var(--secondary-color);
    cursor: not-allowed;
    text-decoration: line-through;
    cursor: inherit;
}

.slots_display li {
    color: var(--primary-color);
    font-weight: bold;
    font-size: 1rem;
}

footer {
text-align: center;
}

#clement {
    font-size: 0.7rem;
    color: var(--secondary-color);
    margin: 0px 0px 25px 0px;
    letter-spacing: 0.1rem;
    font-family: var(--font-p-bold);
}

/*--------Hidden_confirm---------*/

.hidden_confirm {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-p-bold);
    color: var(--primary-color);
    display: none;
}