

/*----------Fonts----------*/


/*------CORMORANT-----*/
@font-face {
  font-family: 'Cormorant Regular';
  src: url('../../fonts/Cormorant/Cormorant-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Cormorant bold';
  src: url('../../fonts/Cormorant/Cormorant-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Cormorant Light'; 
  src: url(../../fonts/Cormorant/Cormorant-Light.ttf) format('truetype');
  font-weight: 100;
  font-style: normal;
}
/*-------QUICKSAND-------*/

@font-face {
  font-family: 'Quicksand Regular';
  src: url(../../fonts/Quicksand/Quicksand-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Quicksand bold';
  src: url(../../fonts/Quicksand/Quicksand-Bold.ttf) format('truetype');
  font-weight: bold;
  font-style: normal;
}


@font-face {
  font-family: 'Quicksand light';
  src: url(../../fonts/Quicksand/Quicksand-Light.ttf) format('truetype');
  font-weight: normal;
  font-style: italic;
}
