/*------RESET CSS------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /*pour que  la taille des lignes de texte soient hérités depuis l'élément parent*/
  line-height: inherit;
  font: inherit;
}
/*Réinitialisation des Liens*/
a {
    cursor: pointer;
    text-decoration: none;
}